---
import ExperienceDetails from "./ExperienceDetails.astro";
import RoleDescription from "./RoleDescription.astro";

export interface ExperienceProps {
  image: string;
  name: string;
  organization: string;
  mainRole: string;
  roleDescription: {
    frontend: string[];
    backend: string[];
    management: string[];
  };
  experienceType: string;
  description: string;
}

const {
  experience: {
    image,
    name,
    organization,
    mainRole,
    roleDescription: { frontend, backend, management },
    description,
    experienceType,
  },
} = Astro.props as { experience: ExperienceProps };
---

<div class="flex flex-col items-center">
  <div class="flex items-start flex-col md:flex-row">
    <ExperienceDetails
      image={image}
      name={name}
      organization={organization}
      mainRole={mainRole}
      experienceType={experienceType}
      description={description}
    />
    <RoleDescription
      frontend={frontend}
      backend={backend}
      management={management}
    />
  </div>
</div>
<svg
  width="35"
  height="35"
  viewBox="0 0 35 35"
  xmlns="http://www.w3.org/2000/svg"
>
  <circle cx="17.5" cy="17.5" r="17.5" fill="#1C2668"></circle>
</svg>
