---
import Image from "astro/components/Image.astro";
import { companyLogo } from "@components/Logo.astro";
import type { CompanyLogoKey } from "@components/Logo.astro";
export interface ExperienceDetailsProps {
  experience: {
    logo: CompanyLogoKey;
    name: string;
    organization: string;
    mainRole: string;
    experienceType: string;
    description: string;
  };
}

const {
  experience: {
    logo,
    name,
    organization,
    mainRole,
    experienceType,
    description,
  },
} = Astro.props as ExperienceDetailsProps;
console.log(logo);
---

<div class="flex flex-col justify-center text-center mx-5 m-3.5 md:w-1/2">
  <div class="mx-10">
    <Image loading="lazy" src={companyLogo[logo]} alt={name} />
  </div><p class="font-bold text-darkBlue">{mainRole}</p>
  <div class="py-3 flex flex-col gap-3">
    <h3 class="font-bold text-pinkish text-3xl">{name}</h3>

    <p class="whitespace-pre-wrap text-start">{description}</p>
  </div>
</div>
