---
import Image from "astro/components/Image.astro";
import { techIcon } from "@components/Icon.astro";
import type { TechIconKey } from "@components/Icon.astro";
export interface TechnologyListProps {
  title: string;
  techs: TechIconKey[];
}

const { title, techs } = Astro.props as TechnologyListProps;
---

<div
  class="flex md:justify-center sm:justify-start items-center flex-col mx-7 border border-amber-700"
>
  <h4 class="text-3xl font-medium" aria-label={title} aria-labelledby={title}>
    {title}
  </h4>
  <ul class="inline-flex flex-wrap gap-2 flex-col justify-center">
    {
      techs.map(
        (
          tech //removed index for li keys
        ) => (
          <li class="flex justify-start flex-row gap-2">
            <Image
              src={techIcon[tech].icon}
              alt={tech}
              class="w-4 self-center"
            />
            <p>.{tech}</p>
          </li>
        )
      )
    }
  </ul>
</div>
